* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  max-width: 500px;
  margin: auto;
}

.loading {
  margin: 12px;
  text-align: center;
}

.action {
  margin: 12px;
  text-align: center;
}

.action button {
  margin-right: 8px;
}

.link {
  display: block;
  padding: 8px;
  text-align: center;
  color: red;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  column-count: 4;
}

.img-wrap {
  width: 25%;
  padding: 8px;
}

.img {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  object-fit: cover;
}

.move {
  transition: transform 1s;
}

[v-cloak] {
  display: none;
}
